<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body uib-popover="{{savingData}}" popover-title="Balance requirement" popover-placement="bottom" popover-trigger="outsideClick">
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-bank"></i>
				</div>
				<div class="title">Saving</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body uib-popover="{{checkingData}}" popover-title="Balance requirement" popover-placement="bottom" popover-trigger="outsideClick">
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-bank"></i>
				</div>
				<div class="title">Checking</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>

</div>

<div class="row">
  	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Search Bank">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>Bank Name</th><th>State</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="bank in savingsData"><td class="text-center">{{$index + 1}}</td><td>{{bank.BankName}}</td><td>{{bank.state}}</td></tr>
							
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Search Bank">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
						  <tr><th class="text-center">ID</th><th>Bank Name</th><th>State</th></tr>
						</thead>
						<tbody>
						  <tr ng-repeat="bank in checkingData"><td class="text-center">{{$index + 1}}</td><td>{{bank.BankName}}</td><td>{{bank.state}}</td></tr>
						  

						  
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>


