<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-institution"></i>
				</div>
				<div class="title">State ID</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-shield"></i>
				</div>
				<div class="title">Social Security Number (SSN)</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-user"></i>
				</div>
				<div class="title">Driver's License</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-university"></i>
				</div>
				<div class="title">I-94 Document</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>


</div>
