<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">Mutual Funds</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">Systematic Investment Plan</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">Savings Bonds</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">Treasury Inflation Protected Securities (TIPS)</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
		<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left" style="position:relative;top:-12px">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">Cash Value Life Insurance</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left" style="position:relative;top:-12px">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">Municipal Bonds</div>
				<div class="comment"></div>
			</rd-widget-body>
		</rd-widget>
	</div>

</div>
